* {
    margin: 0;
    padding: 0;
}

body {

    background-image: url("./Scene.jpg");
    background-size: cover;

}

.wrapper {
    background: rgba(224, 224, 224, 0.8);
    margin: 0;
    padding: 10px 16px;
}

nav {
    display: flex;
}

nav .menu {
    margin-top: 35px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 12px 16px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {

    padding: 0px 100px;
}

p {
    max-width: 60ch;
    font-size: 21px;
    line-height: 1.4;
}

h1+p {
    margin-top: 20px;
}

p+h1 {
    margin-top: 20px;
}
article
{
    margin-top: 20px;
}
h1+h2 {
margin-top: 20px;
}
p+p
{
    margin-top: 20px;
}